.fileinput.m-2.text-center(*ngIf='avatar')
	input(
		#fileInput,
		accept='image/*',
		type='file',
		(change)='handleImageChange($event)')
	.image-container([class.loading]='isImageLoading')
		i(*ngIf='isImageLoading', class='pi pi-spin pi-spinner', style='font-size: 2rem')
		img.thumbnail.mb-2(
			referrerpolicy="no-referrer",
			alt='Ảnh Bìa',
			[src]='imgSrcPreviewUrl',
			(click)='handleClick()')
	.d-flex.justify-content-center
		button.justify-content-center.align-items-center.me-2(
			pButton,
			type='button',
			class='p-button-success new-button',
			(click)='handleClick()')
			i(class='pi pi-plus', style='font-size: 1rem; margin-right: .5rem')
			| Thêm
		button.justify-content-center.align-items-center(
			pButton,
			type='button',
			class='p-button-secondary reset-button',
			(click)='handleRemove()')
			i(class='pi pi-replay', style='font-size: 1rem; margin-right: .5rem')
			| Xoá
.fileinput.text-center(*ngIf="!avatar")
	p-fileUpload(
		accept="image/*",
		chooseLabel="Thêm ảnh",
		cancelLabel="Loại bỏ",
		[multiple]="true",
		[maxFileSize]="150000000",
		[showCancelButton]='false',
		[showUploadButton]="false",
		(onSelect)="handleImageChange( $event )")
		ng-template(pTemplate="content")
			ng-container(*ngIf="imgSrcArray")
				div(
					class="p-fileupload-files ng-star-inserted",
					*ngFor="let src of imgSrcArray")
					div(class="ng-star-inserted")
						div(class="p-fileupload-row ng-star-inserted")
							div
								img(
									[src]="src",
									width="50",
									class="ng-star-inserted")
							div
							div
							div
								button.p-button-rounded.p-button-warning(
									pButton ,
									pRipple,
									icon='pi pi-trash',
									(click)='remove( src )')
